@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
$primary-color: #212121;
$secondary-color: #323232;
$main-red: #ff0000;
$main-white: #ffffff;

$main-font: "Quicksand", sans-serif !important;
$secondary-font: "Open Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $secondary-font;
  background-color: $primary-color;
}

.heading {
  font-family: $main-font;
  font-size: 24px;
  font-weight: bold;
}

.subheading {
  font-weight: 400;
  font-size: 16px;
}
/* NAVBAR */
.navbar-brand {
  font-weight: 700;
  font-family: $secondary-font;
}
.navbar {
  background-color: $primary-color !important;
}
.dropdown-menu{
  background-color: #212121;
  border: 2px solid white;
  .dropdown-item{
    color: white;
    transition: all .5s ease;
  }
  .dropdown-item:hover,.dropdown-item:focus{
    background-color: red;
  }
}
.navbar-brand span {
  color: $main-red;
}
.navlink {
  font-family: $secondary-font;
}
.nav-link.active {
  font-weight: 700;
  color: $main-red !important;
}

/* END OF NAVBAR */

/* HOME */
.home {
  z-index: 3;
  flex-direction: row;
  margin-bottom: -3.5rem;
  .row {
    margin-top: 100px;
  }
  .home-detail {
    width: 60%;
  }
  .heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $main-white;
    font-size: 17px;
    span {
      color: $main-red;
    }
  }
  .btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-contact {
      font-size: 15px;
      background-color: $main-white;
      color: black;
      font-weight: 700;
      font-family: $secondary-font;
      border: 5px solid $secondary-color;
      border-radius: 50px;
      &:hover {
        background-color: $primary-color;
        color: $main-white;
      }
    }
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    img {
      max-width: 100%;
      width: 100%;
      position: relative;
    }
  }
}

/* END OF HOME */
/* ABOUT ME */

.aboutme {
  color: $main-white;
  font-weight: 700;
  background-color: $secondary-color;
  min-height: 700px;
  text-align: center;
  margin-top: 2rem;
  .col {
    padding-top: 5rem;
  }

  h1 {
    font-size: 25px;
    color: $main-white;
    font-weight: 700;
    font-family: $main-font;
  }
  h2 {
    font-size: 30px;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    i {
      font-size: 25px;
      margin-right: 2rem;
      color: white;
      transition: all 0.5s ease;
      &:hover {
        color: red;
      }
    }
    .box {
      width: 50px;
      height: 50px;
      background-color: red;
    }
  }
  .left-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
  }
  .progress-menu {
    h4 {
      font-weight: 700;
    }
    .figma,
    .wordpress,
    .html {
      margin-top: 1rem;
    }
    .progress {
      background-color: black;
      .progress-bar {
        background-color: red;
      }
    }
  }
}
/* END OF ABOUT ME */

/* MY PROJECT */
.myproject {
  font-weight: 700;
  color: $main-white;
  text-align: center;
  min-height: 1000px;

  .col {
    width: 50%;
    margin-top: 8rem;
    h1 {
      font-family: $main-font;
      margin-bottom: 2rem;
      font-weight: 700;
    }
  }
  a.col-lg-3 {
    width: auto;
  }
  .project {
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    border: 5px inset $secondary-color;
    border-radius: 40px;
  }

  .project-1 {
    background-image: url("../img/project/nft-result.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .project-2 {
    background-image: url("../img/project/product-preview-result.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .project-3 {
    background-image: url("../img/project/qr-result.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .project-4 {
    background-image: url("../img/project/nft-result.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .project-5 {
    background-image: url("../img/project/product-preview-result.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .project-6 {
    background-image: url("../img/project/qr-result.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* END OF MY PROJECT */
/* INTERNSHIP */
.internship {
  margin-top: 5rem;
  min-height: 450px;
  color: white;
  text-align: center;
  font-family: $main-font;

  .internship-box {
    padding: 2.5rem 0;
    background-color: red;
    width: 100%;
    height: 15rem;
    border-radius: 40px;
    h2 {
      font-weight: 700;
      font-size: 30px;
    }
    .btn {
      margin-top: 1rem;
      border: none;
      background-color: $primary-color;
      color: $main-white;
      font-weight: 700;
      font-size: 22px;
      border-radius: 40px;
      width: 12rem;
      height: 60px;
      transition: all 0.5s ease;
      &:hover {
        background-color: $main-white;
        color: $primary-color;
      }
    }
  }
}
/* END OF INTERNSHIP */

/* MEDIA QUERY */
@media only screen and (min-width: 342px) {
  .home {
    .heading {
      font-size: 20px;
    }
  }
}
@media only screen and (min-width: 396px) {
  .home {
    .heading {
      font-size: 25px;
    }
  }
}
@media only screen and (min-width: 485px) {
  .home {
    .heading {
      font-size: 30px;
    }
  }
}
@media only screen and (min-width: 570px) {
  .home {
    .heading {
      font-size: 31px;
    }
  }
  .internship {
    h2 {
      padding-top: 2rem;
    }
  }
}
@media only screen and (min-width: 768px) {
  .home {
    .home-detail {
      margin-top: 2rem;
      width: 50%;
    }
    .heading {
      font-size: 33px;
      display: flex;
      justify-content: start;
      align-items: start;
    }
    .img-container {
      width: 50%;
    }
    .btn-home{
      display: flex;
      justify-content: start;
      align-items: start;
    }
  }

  .aboutme {
    min-height: 500px;
    margin-top: -8rem;
    text-align: start;
    .social-icon {
      justify-content: start;
    }
  }
  .internship {
    h2 {
      margin-top: -1rem;
    }
  }
}
@media only screen and (min-width: 992px) {
  .home {
    margin-top: 8rem;
    img.img-fluid.human-img {
      width: 80%;
    }
    .heading {
      font-size: 43px;
    }
  }
  .navbar-nav {
    gap: 3rem;
  }
  .aboutme {
    margin-top: -8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .home {
    .heading {
      font-size: 53px;
    }
  }
  .aboutme {
    margin-top: -10rem;
  }
  .myproject {
    min-height: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .home {
    .heading {
      font-size: 70px;
    }
    .home-detail {
      margin-top: 4rem;
    }
  }
  .aboutme {
    margin-top: -9rem;
  }

  .internship {
    h2 {
      padding-top: 4rem;
    }
    .internship-box {
      height: 20rem;
      h2 {
        font-size: 40px;
      }
      .btn-lg {
        margin-top: 4rem;
      }
    }
  }
}

/* END OF MEDIA QUERY */
